<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp20230914111555.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/55fd2620-6915-4bb8-9e1f-fad4dbbb0102/resourcegroups/DefaultResourceGroup-DEWC/providers/Microsoft.Web/sites/FunctionApp20230914111555</ResourceId>
    <UserName>$FunctionApp20230914111555</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp20230914111555.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>